body{
    border-color: #F5F5F5;
    font-family: 'Urbanist';
    font-style: sans-serif;
    padding: 0;
    margin: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

#loginsec{
    width: 35%;
    padding-left: 15px;
    padding-bottom: 0;
    margin-left: 15px;
    float: right;
}

#regsec{
    width: 35%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0;
    margin-right: 15px;
    float: left;
}

#logosec{
    float: inline-start;
    margin-bottom: 0;
}

#logopic{
    float:left;
    margin-left: 15px;
    margin-top: 5px;

}

img{
    max-width: 100%;
    height: auto;
}

#food1{
    width: 60%;
    float: left;
    max-width: 100%;
    height: auto;  
}

#food2{
    width: 60%;
    float: right;
    max-width: 100%;
    height: auto;
}

h1{
    color: black;
    font-weight: bolder;
    font-size: 37px;
}

label {
    color: #909090;
    font-weight: bold;
    font-size: 22px;
}

.input{
    background-color: #F8F9FD;
    border: 1px solid;
    border-color: #909090;
    border-radius: 10px;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}



#grey {
    color: #909090;
    font-size: 20px;
    text-align: right;
    position: relative;
    padding-right: 70px;
    margin-right: 70px;
}

#gray {
    color: #909090;
    font-size: 20px;
}


#button{
    background-color: #FB3F3F;
    border: none;
    color: #F8F9FD;
    font-weight: 500;
    font-size: 23px;
}

button{
    background-color: #FB3F3F;
    border-color: #FB3F3F;
    border-radius: 10px;
    padding: 10px 20px;
}

#green {
    color: #5A7D1E;
    margin-left: 5px;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}

#green a:before {
    color: #5A7D1E;
    margin-left: 5px;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}

table{
    border: none;
}

@media screen and (max-width: 600px) {
    #loginsec, #regsec, #logosec, #logopi, img, #food1, #food2, label, .input, #grey, #gray, #button, button, #green, table  {
      width: 100%;
      margin-top: 0;
    }
  }
