/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;700&family=Urbanist:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

footer {
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 100%;
    height: auto;
    background: #DF3737;
    color: white;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
}

ul {
    padding: 0 1rem;
    margin: 0.2rem 0;
}

#left {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    text-align: left;
}

#left li, #left a {
    color: white;
    list-style: none;
    text-decoration: none;
}

#left div {
    padding-bottom: 1rem;
}

.categoria {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.restaurante {
    margin: 0.6rem 0;
    font-size: 0.95rem;
}


.restaurante a:hover {
    font-size: 1rem;
    transition: 0.2s ease-in-out;
}

#right {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

@media(max-width: 1150px) {
    footer {
        max-width: 100%;
        height: auto;
        padding: 0.5rem 0;
    }

    #left {
        gap: 0.5rem;
    }
}

@media(max-width: 980px) {
    footer {
        width: 100%;
        padding: 0.2rem 0;
    }

    .categoria {
        font-size: 0.8rem;
    }

    .restaurante {
        font-size: 0.7rem;
    }

    #left {
        gap: 0.1rem;
    }

    #right {
        font-size: 0.9rem;
    }
}

@media(max-width: 750px) {
    footer {
        width: 100%;
        padding: 0.1rem 0;
    }

    .categoria {
        font-size: 0.6rem;
    }

    .restaurante {
        font-size: 0.5rem;
    }

    #left {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.1rem;
    }

    #right {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 480px) {
    footer {
        width: 100%;
        height: auto;
        padding: 0.5rem 0;
        flex-direction: column;
        gap: 0rem;
    }
    
    #left {
        flex-direction: column;
        gap: 0.5rem;
    }
}