<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Footer.css" />
  </head>
  <body>
    <footer>
      <section id="left">
        <ul>
            <div>
                <li><a href="" class="categoria">Panameña</a></li>
            </div>
            <li class="restaurante"><a href="">Casa Blanca</a></li>
            <li class="restaurante"><a href="">El Trapiche</a></li>
        </ul>
        <ul>
            <div>
              <li><a href="" class="categoria">Asiática</a></li>
            </div>
            <li class="restaurante"><a href="">Sunly</a></li>
            <li class="restaurante"><a href="">Jade Garden</a></li>
        </ul>
        <ul>
            <div>
              <li><a href="" class="categoria">Italiana</a></li>
            </div>
            <li class="restaurante"><a href="">Stizzoli</a></li>
            <li class="restaurante"><a href="">Madre Cucina</a></li>
        </ul>
        <ul>
            <div>
              <li><a href="" class="categoria">Vegana</a></li>
            </div>
            <li class="restaurante"><a href="">Azahar</a></li>
            <li class="restaurante"><a href="">Jardín Vegetariano</a></li>
        </ul>
        <ul>
            <div>
              <li><a href="" class="categoria">Mexicana</a></li>
            </div>
            <li class="restaurante"><a href="">Wahaka</a></li>
            <li class="restaurante"><a href="">Tapachula</a></li>
        </ul>
        <ul>
            <div>
              <li><a href="" class="categoria">Española</a></li>
            </div>
            <li class="restaurante"><a href="">Santa Rita</a></li>
            <li class="restaurante"><a href="">Alandalus</a></li>
        </ul>
        <ul>
            <div>
              <li><a href="" class="categoria">Pizzería</a></li>
            </div>
            <li class="restaurante"><a href="">Barrio Pizza</a></li>
            <li class="restaurante"><a href="">Giorgio's</a></li>
        </ul>
      </section>
      <section id="right">
        <p>© Copyright 2023.</p>
      </section>
    </footer>
  </body>
</html>
