main{
    padding-top: 15px;
    padding-bottom: 15px;
}

main h2 {
    margin-left: 1.5rem;
}

#seachContainer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/* Carousel */
.carousel {
    padding: 1rem 0;
    width: 600px;
}

.c-item {
    height: 400px;
    
}

.c-img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.topMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}