header{
    height: 50px;
    background-color: #DF3737;
}

nav{
    height: 50px;
    background-color: #909090;
}

main{
    padding: 20px;
}


#results{
    gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form button{
    width: fit-content;
}

.filtrosContainer{
    padding: 15px calc(10%);
    border: none;
    border-radius: 15px;
}

#filtros{
    margin-top: 10px;
}

#filtroBtn{
    background-color: #DF3737;
    color: #ffffff;
}

#applyFilterBtn{
    background-color: white;
    color: #DF3737;
    border: solid #DF3737;
    border-radius: 10px;
}

.card{
    padding-left: 0px !important;
    padding-right: 0px !important;
}